.section {
  margin-top: auto;
  /* position: absolute; */
  top: 100%;
  width: 90%;
}
.button {
  display: block;
  width: 100%;
  padding: 12px;
  text-transform: capitalize;
  font-size: 1em;
  font-weight: 600;
  text-align: center;
  border-radius: 0.5rem;
  cursor: pointer;
  border: none;
  margin-bottom: 12px;
}

.button_primary {
  background-color: #6c25ff;
  color: white;
  margin-top: 1.5rem;
}
.button_secondary {
  background-color: #ceb9fa;
  color: #1d2226;
}
